doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="style.css")
    title= title
  body
    h1= title
    p Welcome to my Media API!
    p= message
    h2 Mock data titles

    div
        a(href="/api/media")
            button(type="button") View JSON
        ul
            each item in mediaData
                li= item.title
                    p= item.description
                img(src="/uploads/" + item.filename, alt="Image not found")
                a(href="/api/media/" + item.media_id)
                    button(type="button") View JSON data
                hr